body {
  font-family: Arial, sans-serif;
  background-color: #222;
  color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  margin: 35px;
}

h1 {
  font-size: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #fff;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 75px;
  height: 75px;
  border: 2px solid #fff;
  border-radius: 5px;
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  color: #222;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 1);
}

.btn:disabled {
  color: #000;
  cursor: no-drop;
}

.result-container {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid #fff;
  max-width: 200px;
  margin-top: 20px;
}

#result {
  text-align: center;
  font-size: 25px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.reset-section {
  text-align: center;
  margin-top: 20px;
}

.reset-btn {
  border: 2px solid #000;
  color: #000;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s;
}

.reset-btn:hover {
  background-color: #000;
  color: #fff;
}