
h1 {
  text-align: center;
}
h1 {
  color: #ffffff; 
}

/* Add a subtle text shadow for a lighter shadow effect */
h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Horizontal and vertical offset, blur radius, and shadow color */
}

/* Set the font size to 50px for a prominent appearance */
h1 {
  font-size: 50px;
}
.box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 35px;
}
}
.box-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  border: 1px solid;
  border-radius: 10px;
  height: 75px;
  width: 75px;
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  text-shadow: 1px 1px 1px #fff;
}